@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html,
body {
	background-color: #18181b;
	color: #fafafa;
	min-height: 100dvh;
	-webkit-tap-highlight-color: transparent;
}
